body { 
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;

}

.header { 
    display: flex;
    justify-content: space-between;
    padding: 10px 300px;
    background-color: #1F2937;
    color: white;
}

.logo { 
    display: grid;
    place-items: center;
    width: auto;
    height: auto;
}

.nav { 
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

ul { 
    list-style: none;
}

.description { 
    display: flex;
    gap: 150px;
    border: none;
    justify-content: space-between;
    padding: 150px 300px;
    padding-top: 100px;
    background-color: #1F2937;
    color: white;
}

.description-left { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.description-left h1 {
   font-size: 48px;
   font-weight:900;
   color: #F9FAF8;
   margin: 0;
}

.description-left p { 
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.description button { 
    background-color: #3882f6;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.image img { 
    width: 500px;
    height: auto
}

.main { 
    padding: 0 250px;
    padding-bottom: 100px;
}

.main h3 { 
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 50px 0;
}

.box { 
    border: #3882f6 solid 5px;
    color: #1F2937;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.box-image { 
    width: 200px;
    height: auto;
    border: #3882f6 solid 3px;
    border-radius: 6px;
}

.items { 
    display: flex;
    justify-content: space-evenly;
}

.item { 
 width: 200px;
}

.item-text { 
    text-align: center;
    padding: 10px 0;
    font-size: 18px;

}

.quote { 
    background-color: #e5e7eb;
    padding: 50px 500px;
}

.quote-text { 
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-author { 
    text-align: right;
    font-weight: bold;
    font-size: 18px;

}

.background { 
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.call-to-action { 
    background-color: #3882f6;
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.call-to-action * {
    margin: 0;
    padding: 0;
}

.cta-text { 
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;

   
}

.call-to-action h4 { 
    font-size: 24px;
    color: #E5E7EB;
}

.call-to-action p { 
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

.call-to-action button { 
    background-color: #3882f6;
    color: white;
    border: white solid 2px;
    border-radius: 8px;
    width: 200px;
    height: 60px;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
}

.footer { 
    display: grid;
    place-items: center;
    background-color: #1F2937;
    min-height: 100px;
    margin: 0;
}

.footer-text { 
    color: white;
    text-align: center;
    
}